<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAG1RhBqrUp-423KpYzQ1xHqECZcJP9Wd4</string>
	<key>GCM_SENDER_ID</key>
	<string>1049636013315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hiptechAppNoti</string>
	<key>PROJECT_ID</key>
	<string>hiptech-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>hiptech-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049636013315:ios:b476b6e9d44706f0645536</string>
</dict>
</plist>